---
---
<p class="field">
    <label for="date">Pick a date</label>
    <input name="date" type="date"/>
</p>

<p class="field">
    <label for="date-ranged">Pick a date in 2013</label>
    <input name="date-ranged" type="date" min="2013-01-01" max="2013-12-31"/>
</p>

<p class="field">
    <label for="date-month">Pick a month</label>
    <input name="date-month" type="month"/>
</p>

<p class="field">
    <label for="date-week">Pick a week</label>
    <input name="date-week" type="week"/>
</p>

<p class="field">
    <label for="date-time">Pick a time</label>
    <input name="date-time" type="time"/>
</p>
