$measure-xxs: $base-font-size/5; // (14px) 2.8px
$measure-xs: $base-font-size/3; // (14px) 4.666666667px
$measure-s: $base-font-size/1.2; // (14px) 11.666666667px
$measure-m: $base-font-size; // (14px) 14px
$measure-l: $base-font-size*1.2; // (14px) 16.8px
$measure-xl: $base-font-size*1.5; // (14px) 21px

// font-size: $base-font-size/1.2; /* (14px) 12.5px */