.xx {
    background-color: #363942;
    margin: 0;
    padding: 0;
    color: #ffeeee;
    }

.xx-container {
    padding: 5em 2.5% 2em;
    }

.xx-pattern {
    background-color: #f0f0f0;
    margin: 2.5em 0;
    overflow: hidden;
    border-radius: 3px;
    color: #333;
    clear: both;
    }

.xx-pattern-name {
    background-color: #419DD2;
    background-image: -webkit-linear-gradient(#419DD2 95.4%, #2779a9 100%);
    background-image: linear-gradient(#419DD2 95.4%, #2779a9 100%);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    position: relative;
    border-radius: 3px 3px 0 0;
    
    &:hover {
        cursor: pointer;
        }
    
    &:focus {
        outline: none;
        background-image: -webkit-linear-gradient(#40BAD2 95.4%, #2794a9 100%);
        background-image: linear-gradient(#40BAD2 95.4%, #2794a9 100%);
        }
    
    }

.xx-pattern-name,
.xx-pattern-preview {
    padding: 0.5em 0.8em;
    }

.xx-pattern-preview {
    padding: 1.5em 0.8em;
    }

.xx-pattern-link {
    position: absolute;
    right: 0.8em;
    }

.xx-pattern-name,
a.xx-pattern-link {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    }

.xx-pattern-markup,
.xx-pattern-usage {
    font-size: 0.8em;
    width: 95%;
    padding: 1em 2.5%;
    background-color: #F0F0ED;
    margin: 0;
    }

.xx-pattern-usage {
    font-family: Arial, sans-serif;
    font-size: 1em;
    background-image: -webkit-linear-gradient(#e9e9e8 0%, #dcdcdb 100%);
    background-image: linear-gradient(#e9e9e8 0%, #dcdcdb 100%);
    clear: both;
    border-top: 1px solid #ccc;
    }

.xx-pattern-jump,
.xx-nav {
    position: fixed;
    bottom: 0;
    width: 95%;
    padding: 1em 2.5%;
    background-color: rgba(255,255,255,0.8);
    z-index: 1;
    left: 0;
    text-align: right;
    font-size: 0.8em;
    }

.xx-nav {
    top: 0;
    position: absolute;
    bottom: inherit;
    padding-top: 0;
    padding-bottom: 0;
    }

.xx-nav-items {
    margin: 0;
    }

.xx-nav-item {
    float: right;
    list-style-type: none;
    font-size: 1.1em;
    }

.xx-nav-item a {
    padding: 0.8em 1em 0.7em;
    display: block;
    border-bottom: 5px solid transparent; 
    &:hover {
       border-bottom: 5px solid #419DD2; 
        }
    }

.xx-title {
    font-size: 1.8em;
    text-align: center;
    margin: 1em 0 2em;
    }

.xx-swatches {
    padding: 0;
    clear: both;
    float: left;
    width: 100%;
    margin-bottom: 2em;
    }

.xx-swatch {
    float: left;
    width: 15em;
    margin-right: 1em;
    list-style-type: none;
    font-size: 0.8em;
    line-height: 1.2em;
    margin-bottom: 1em;
    background-color: #fff;
    height: 13em;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    }

.xx-swatch-details {
    padding: 0.7em 5% 0;
    margin-bottom: 0.5em;
    display: block;
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 90%;
    color: #999;
    }

.xx-swatch-preview {
    height: 5em;
    width: 103%;
    display: table-cell;
    margin-bottom: 0.5em;
    border-radius: 3px 3px 0 0;
    padding: 0;
    font-size: 2em;
    text-align: center;
    line-height: 1.1;
    vertical-align: middle;
    overflow: hidden;
    float: none;
    position: absolute;
    top: -0.25em;
    left: -1.5%;
    right: -1.5%;
    background-color: black;
    color: white;
    }


// Syntax Highlighting
    
.xx-pattern-details {
    
    .highlight { 
        display: block;
        background-color: #fff;
        margin: 0;
        padding: 1em;
        color: #333;
        font-size: 0.85em;
        border-bottom: 1px solid #ccc;
        line-height: 1.2;
        }

    .highlight .c /* Comment */ {
        color: #999988; font-style: italic 
        }
        
    .highlight .err /* Error */ {
        color: #a61717; background-color: #e3d2d2 
        }
        
    .highlight .k /* Keyword */ { 
        font-weight: bold 
        } 
        
    .highlight .o {
        font-weight: bold 
        } /* Operator */
        
    .highlight .cm { 
        color: #999988; font-style: italic 
        } /* Comment.Multiline */
        
    .highlight .cp { 
        color: #999999; font-weight: bold 
        } /* Comment.Preproc */
        
    .highlight .c1 { 
        color: #999988; font-style: italic 
        } /* Comment.Single */
        
    .highlight .cs { 
        color: #999999; font-weight: bold; font-style: italic 
        } /* Comment.Special */
        
    .highlight .gd { 
        color: #000000; background-color: #ffdddd 
        } /* Generic.Deleted */
        
    .highlight .gd .x { 
        color: #000000; background-color: #ffaaaa 
        } /* Generic.Deleted.Specific */
        
    .highlight .ge { 
        font-style: italic 
        } /* Generic.Emph */
        
    .highlight .gr { 
        color: #aa0000 
        } /* Generic.Error */
        
    .highlight .gh { 
        color: #999999 
        } /* Generic.Heading */
        
    .highlight .gi { 
        color: #000000; background-color: #ddffdd 
        } /* Generic.Inserted */
        
    .highlight .gi .x { 
        color: #000000; background-color: #aaffaa 
        } /* Generic.Inserted.Specific */
        
    .highlight .go { 
        color: #888888 
        } /* Generic.Output */
        
    .highlight .gp { 
        color: #555555 
        } /* Generic.Prompt */
        
    .highlight .gs { 
        font-weight: bold 
        } /* Generic.Strong */
        
    .highlight .gu { 
        color: #aaaaaa 
        } /* Generic.Subheading */
        
    .highlight .gt { 
        color: #aa0000 
        } /* Generic.Traceback */
        
    .highlight .kc { 
        font-weight: bold 
        } /* Keyword.Constant */
        
    .highlight .kd { 
        font-weight: bold 
        } /* Keyword.Declaration */
        
    .highlight .kp { 
        font-weight: bold 
        } /* Keyword.Pseudo */
        
    .highlight .kr { 
        font-weight: bold 
        } /* Keyword.Reserved */
        
    .highlight .kt { 
        color: #445588; font-weight: bold 
        } /* Keyword.Type */
        
    .highlight .m { 
        color: #009999 
        } /* Literal.Number */
        
    .highlight .s { 
        color: #d14 
        } /* Literal.String */
        
    .highlight .na { 
        color: #008080 
        } /* Name.Attribute */
        
    .highlight .nb { 
        color: #0086B3 
        } /* Name.Builtin */
        
    .highlight .nc { 
        color: #445588; font-weight: bold 
        } /* Name.Class */
        
    .highlight .no { 
        color: #008080 
        } /* Name.Constant */
        
    .highlight .ni { 
        color: #800080 
        } /* Name.Entity */
        
    .highlight .ne { 
        color: #990000; font-weight: bold 
        } /* Name.Exception */
        
    .highlight .nf { 
        color: #990000; font-weight: bold 
        } /* Name.Function */
        
    .highlight .nn { 
        color: #555555 
        } /* Name.Namespace */
        
    .highlight .nt { 
        color: #000080 
        } /* Name.Tag */
        
    .highlight .nv { 
        color: #008080 
        } /* Name.Variable */
        
    .highlight .ow { 
        font-weight: bold 
        } /* Operator.Word */
        
    .highlight .w { 
        color: #bbbbbb 
        } /* Text.Whitespace */
        
    .highlight .mf { 
        color: #009999 
        } /* Literal.Number.Float */
        
    .highlight .mh { 
        color: #009999 
        } /* Literal.Number.Hex */
        
    .highlight .mi { 
        color: #009999 
        } /* Literal.Number.Integer */
        
    .highlight .mo { 
        color: #009999 
        } /* Literal.Number.Oct */
        
    .highlight .sb { 
        color: #d14 
        } /* Literal.String.Backtick */
        
    .highlight .sc { 
        color: #d14 
        } /* Literal.String.Char */
        
    .highlight .sd { 
        color: #d14 
        } /* Literal.String.Doc */
        
    .highlight .s2 { 
        color: #d14 
        } /* Literal.String.Double */
        
    .highlight .se { 
        color: #d14 
        } /* Literal.String.Escape */
        
    .highlight .sh { 
        color: #d14 
        } /* Literal.String.Heredoc */
        
    .highlight .si { 
        color: #d14 
        } /* Literal.String.Interpol */
        
    .highlight .sx { 
        color: #d14 
        } /* Literal.String.Other */
        
    .highlight .sr { 
        color: #009926 
        } /* Literal.String.Regex */
        
    .highlight .s1 { 
        color: #d14 
        } /* Literal.String.Single */
        
    .highlight .ss { 
        color: #990073 
        } /* Literal.String.Symbol */
        
    .highlight .bp { 
        color: #999999 
        } /* Name.Builtin.Pseudo */
        
    .highlight .vc { 
        color: #008080 
        } /* Name.Variable.Class */
        
    .highlight .vg { 
        color: #008080 
        } /* Name.Variable.Global */
        
    .highlight .vi { 
        color: #008080 
        } /* Name.Variable.Instance */
        
    .highlight .il { 
        color: #009999 
        } /* Literal.Number.Integer.Long */
    
    .lineno {
        color: #D5D5D5;
        border-right: 1px solid #e7e7e7;
        padding-right: 0.8em;
        }

}