textarea,
input,
select {
	@include rem(border-radius, 4px);
    border-width: 1px;
    border-style: solid;
    @include border-color($color-base, 0.5);
    font-family: $font-sans-regular;
    }

input,
select {
    }
    
    @media print {
    input,
    select,
    textarea {
    	border: 1px solid $color-base;
    	}
    }

select {
	font-size: 1em;
	line-height: 1.4em;
	min-width: 150px;
	}

select[disabled],
select[multiple] {
	background-image: none;
	}

label {
	@include rem(line-height, 18px);
    display: block;
    margin-right: 0.5em;
    text-transform: uppercase;
    color: $color-base;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: 0.8em;
    }
    
    @media print {
    	label {
    		color: $color-base;
    		}
    	}

input.invalid {
    
    }

input[type="text"][disabled] {
    @include background-color($color-base, 0.25);
    }

abbr[title="required"],
abbr[title="Required"] {
    border-bottom: none;
    }

textarea {
    max-width: 98%;
    padding: 1em 1%;
    font-size: 1em;
    margin: 0;
    }

textarea[disabled] {
    cursor: not-allowed;
    @include background-color($color-base, 0.25);
    }

video {
    max-width: 100%;
    }

fieldset {
    border: none;
    }

select:hover {	
	cursor: pointer;
	}

select[disabled] {
    cursor: not-allowed;
    @include background-color($color-base, 0.25);
    }