<table>
    <thead>
        <tr>
            <th>State</th>
        </tr>
        <tr>
            <th>Minimum driving age</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>South Africa</th>
            <td>18</td>
        </tr>
        <tr>
            <th>Canada</th>
            <td>16</td>
        </tr>
        <tr>
            <th>United States</th>
            <td>14-21</td>
        </tr>
        <tr>
            <th>Bahamas</th>
            <td>17</td>
        </tr>
        <tr>
            <th>Bangladesh</th>
            <td>18</td>
        </tr>
        <tr>
            <th>China</th>
            <td>18</td>
        </tr>
        <tr>
            <th>Ireland</th>
            <td>17</td>
        </tr>
        <tr>
            <th>Spain</th>
            <td>18</td>
        </tr>
        <tr>
            <th>Australia</th>
            <td>16-18</td>
        </tr>
    </tbody>
</table>